**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*
ios/Podfile.lock

# Miscellaneous
.DS_Store

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

build
.dart_tool
.idea
.flutter-plugins
.flutter-plugins-dependencies

# Firebase configuration files / Google Services (e.g. APIs or Firebase)
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

ios/Runner/pubspec.plist
ios/firebase_app_id_file.json

# Build files
android/local.properties
android/app/build.gradle
android/app/src/main/kotlin/com/example/mojodex/mojodexmobile/MainActivity.kt
android/build.gradle
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
assets/.env
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner.xcodeproj/*
ios/Runner.xcodeproj/project.pbxproj
ios/Runner/Info.plist
